<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function(){
            var elem = document.getElementById('test');
            var str = elem.innerHTML.split('/').join('<br/>');
            elem.innerHTML = str;
            
        });
    </script>
</head>
<body>
    <h1 id="test">test / test / test / test</h1>
</body>
</html>