

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
  }
  
  .loginForm{
    position:absolute;
    width:600px;
    height:800px;
    padding: 30px, 20px;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .loginForm h2{
    text-align: center;
    margin: 80px;
    font-size: 2em;
  }



  .idForm{
    border-bottom: 2px solid #3d203d;
    margin: 50px 200px;
    padding: 10px 10px;
  
  }


  
  .passForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 20px 20px;
    width: 400px;
    height: 50px;
  }
  

  
  .btn {
    position:relative;
    left:25%;
    transform: translateX(-50%);
    margin: 0 150px 40px;
    width:300px;
    height:60px;
    background: linear-gradient(125deg,#c2a70f,#cf7b0c,#8b6c03);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    font-size: 20px;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .btn:hover {
    background-position: right;
  }

