{% extends 'base.html' %}



{% block contents %}

<style>
    #chart_div{
        margin: 40px 0 50px 20px;
    }
    .btn{
        width: 150px;
        height: 40px;
        margin: 80px 0 0 30px;
        text-decoration: none;
        background-color: #e6a958;
        color: #fff;
    }
    .btn:hover{
        background-color: #d3841c;
    }

   
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var single_origin = JSON.parse("{{ single_origin|escapejs }}");
    var single_origin_name = JSON.parse("{{ single_origin_name|escapejs }}");
    google.charts.load('current', {'packages':['corechart']}).then(function(){
        
    $("#btn-1").click(function(){
        console.log(single_origin);
        var chart_data =[
        ];
        var col = ['Month'];
        
        for(name in single_origin_name['name'])
        {
            col.push(single_origin_name['name'][name]);
        }
        chart_data.push(col);
        for(cf in single_origin)
        {
            var val = [cf];
            for(sold_cnt in single_origin[cf])
            {
                val.push(single_origin[cf][sold_cnt]);
            }
            chart_data.push(val);
        }
        console.log(chart_data);


        var data = google.visualization.arrayToDataTable(chart_data);

        var options = {
            title : '월간 커피 판매량(SINGLE ORIGIN)',
            vAxis: {title: '커피'},
            hAxis: {title: 'Month'},
            seriesType: 'bars',
            series: {5: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    })
    $("#btn-2").click(function(){
        var chart_data =[
        ['Month', '에티오피아', '콜롬비아', '과테말라', '케냐', '베네수엘라'],
        ['2020/08',  65,      38,         22,             98,           50],
        ['2020/09',  55,      120,        99,             268,          88],
        ['2020/10',  57,      167,        87,             7,           97],
        ['2020/11',  39,      110,        15,             68,           15],
        ['2020/12',  36,      91,         29,             26,          66],
        ['2021/01',  56,      90,         75,             80,          90]
        ];


        var data = google.visualization.arrayToDataTable(chart_data);

        var options = {
            title : '월간 커피 판매량(BLEND)',
            vAxis: {title: '커피'},
            hAxis: {title: 'Month'},
            seriesType: 'bars',
            series: {5: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        
    })
    $("#btn-3").click(function(){
        var chart_data =[
        ['Month', '원두', '아이', '과테말라', '케냐', '베네수엘라'],
        ['2020/08',  265,      381,         224,             888,           250],
        ['2020/09',  525,      1201,        994,             868,          288],
        ['2020/10',  572,      1671,        874,             78,           297],
        ['2020/11',  392,      1101,        154,             688,           215],
        ['2020/12',  362,      911,         294,             286,          266],
        ['2021/01',  562,      901,         754,             880,          90]
        ];


        var data = google.visualization.arrayToDataTable(chart_data);

        var options = {
            title : '월간 커피 판매량(EASY COFFEE)',
            vAxis: {title: 'COFFEE'},
            hAxis: {title: 'Monthly'},
            seriesType: 'bars',
            series: {5: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    })
});
</script>

<input class="btn" id="btn-1" type="button" value="SINGLE ORIGIN" />
<input class="btn" id="btn-2" type="button" value="BLEND" />
<input class="btn" id="btn-3" type="button" value="EASY COFFEE" />

<div id="chart_div" style="width: 1200px; height: 800px;"></div>



{% endblock %}



  

