{% extends "base.html" %}

{% block header %}
div > h1 > .loginForm{
  color: #e6a756;
}
{% endblock %}

{% block contents %}
<div class="row mt-5">
  <div class="col-6 text-center">
    <h1 class="loginForm">로그인</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-6">
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}" name="{{ field.name }}" />
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-primary">로그인</button>
    </form>
  </div>
</div>
{% endblock %}
