{% extends 'base.html' %}

{% block contents %}
<style>
  h2{
    margin: 90px 0 25px 0;
    text-align: center;
    font-size: 20px;
    color: #e6a756;
  }
  .media-header{
    background-color: #e6a756;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  h4{
    color: black;
    text-align: center;
  }

  h3{
    margin-top: 50px;
    color: black;
  }
  .media-body{
    margin: 40px 0 40px 0;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.8;
  }
  span{
    font-size: 11px;
  }
  p{
    font-size: 15px;
    font-weight: bolder;
  }
  .reply-form {
    opacity: 0.8;
    margin-top: 80px;
    padding: 37px;
    width: 1000px;
  }

  .textInput {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 45px;
      margin: 0 !important;
  }
  .textInput:focus {
      box-shadow: none;
      outline: none
  }
  .commentBox ul li .profileBox {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #002247;
      color: #fff;
      font-weight: 700;
  }
  .commentBox ul li:nth-child(even) .profileBox {
      background-color: #222;
  }

  .profileText {
      border-radius: 7px;
      padding: 10px;
      position: relative;
      background-color: #e0efff;
      display: inline-block;
      margin-left: 15px;
      width: 50%;
  }
  .profileText::before {
      content: '';
      position: absolute;
      left: -9px;
      top: 50%;
      transform: translateY(-50%);
      width: 0px;
      height: 0px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #e0efff;
      z-index: 1;
  }
  .commentBox ul li {
      display: flex;
      align-items: center;
  }
  .commentBox ul li:nth-child(even) .profileText::before {
      left: unset;
      right: -9px;
      transform: translateY(-50%) rotate(175deg);
  }
  .commentBox ul li:nth-child(even) .profileText {
      text-align: left;
  }
  div#div_id_username {
      margin-top: 2%;
  }
  .commentBox ul li:nth-child(even) .profileText {
      margin-left: 0;
      margin-right: 15px
  }
  .commentBox ul li:nth-child(even) {
      text-align: right;
      margin: 20px 0;
      justify-content: flex-end;
  }
  .btn{
    background-color: #e6a756;
  }


</style>
{% if errors %}
      <script>
        alert('빈칸을 다 채워주세요!');
      </script>
{% endif %}
<h2>{{ boardname }}</h2>

<div class="container">
  <div class="well">
      <div class="media-body">
        <div class="media-header">
        <br>
        <h4 id="media-heading">{{ board.title }}</h4>
        <p class="text-right">작성자 : {{ board.writer }}</p>
      </div>
          <p>
            {{ board.contents }}
          </p>
          <hr/>
          <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> 작성일 : {{ board.registered_dttm }} </span></li>
        <li><span><i class="glyphicon glyphicon-calendar"></i> 조회수 : {{ board.hits }}</span></li>

          
			    </ul>
      </div>
  </div>
  <a class="btn btn-primary float-right" href="{% url 'cfboard:boards' pk %}" role="button">목록</a>
</div>


<div class="container my-2">
  <div class="row mt-4">
    <div class="col-md-9">
          {% if comments %}
              <div class="commentBox">
                  <ul class="list-unstyled">
                      {% for comment in comments %}
                        <li><span class="profileBox">{{ comment.user }}</span> <span class="profileText">{{ comment.contents }}</span></li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}
          <form class="reply-form" method="post" action="{% url 'cfboard:board_comment' pk id %}">
            {% csrf_token %}
              <div id="div_id_username" class="form-group required">
                  <div class="controls form-group d-flex w-100 ">
                      <input class="input-md  textinput textInput form-control" id="id_username" name=contents placeholder="Write your review" type="text" />
                      <button type="submit" class="btn border-radius-0  m-0 w-25">POST</button>
                  </div>
              </div>
          </form>
    </div>
  </div>
</div>
{% endblock %}