{% extends 'base.html' %}

{% load static %}

{% block contents %}
<script>
    var options = {};
    function handleOnChange(e){
        if(e.selectedIndex != 0){
            options[e.options[0].text] = e.options[e.selectedIndex].text
            console.log(e.options);
            console.log(options);
        }
        console.log(Object.keys(options).length);
        if(Object.keys(options).length == 3){
            var text = "{ ";
            for(option in options){
                console.log(options[option]);
                text += options[option]+" ";
            }
            text += "}";
            document.getElementById('result').innerText = text;
            countbtn();
        } 
        
    };


    function countbtn(){
        $('.__count_range input[count_range]').click(function(e){
        e.preventDefault();
        var type = $(this).attr('count_range');
        var $count = $(this).parent().children('input.count');
        var count_val = $count.val(); 
        if(type=='m'){
        if(count_val<1){
        return;
        }
        $count.val(parseInt(count_val)-1);
        }else if(type=='p'){
        $count.val(parseInt(count_val)+1);
        }
    })
}; 


</script>
<style>
    .card{
        margin: 100px 0 100px 0;
    }
    .preview{
        background-color: white;
        text-align: center;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .tab-pane{
        margin-top: 160px;
    }
    li{
        list-style: none;
    }
    .count{
        width: 30px;
    }
    .action{
        margin: 30px 0 30px 0;
    }

</style>

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">  
                    <div class="preview-pic tab-content">
                        {% if coffee.image %}
                            <div class="tab-pane active" id="pic-1"><img src="{{ coffee.image.url }}" width="300px" height="300px"></div>
                        {% endif %}                      
                    </div>        
                </div>             
                    <div class="details col-md-6">
                        <br>
                        <h3 class="product-title">{{ coffee.name }}</h3>
                        <h4 class="price">가격 : <span>{{ coffee.price }}원</span></h4>
                        <form method="post" action="{% url 'cfproduct:buy_detail' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ coffee.id }}">
                            <li>
                            {% for option_title in option_set %}
                                <li>
                                    <label>{{ option_title }} :</label>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="{{ option_title }}" onchange="handleOnChange(this)">
                                        {% for option in option_list %}
                                            {%if option.code_option == option_title %}
                                                <option value="{{ option.id }}">{{ option.option }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </li>
                                <hr/>
                            {% endfor %}
                            </li>
                            <hr/>
                            <div class="__count_range text-right"> 
                                <p class= "text-left" id='result'></p>
                                <input value="-" count_range="m" type="button">
                                <input class="count" value="1" readonly="" name="quantity">
                                <input value="+" count_range="p" type="button">
                            </div>
                            <hr/>
                            <br>
                            <span>여기에는 최종합산 금액</span>
                            <hr/>
                            <div class="action">
                                <button class="add-to-cart btn btn-secondary" type="submit">장바구니</button>
                                <button class="like btn btn-primary" type="submit" name="buy"><span class="fa fa-heart"></span>구매하기</button>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}