{% extends 'base.html' %}

{% load static %}

{% block contents %}
<style>
    .price{
        color: white;
    }
    h3{
        margin-top: 60px;
        color: #e6a756;
        text-align: center;
    }
    h3 > a{
        text-decoration: none;
        color:#e6a756;
    }
    h3 > a:hover{
        color: #d3841c;
    }
    .add-to-cart{
        text-decoration: none;
        color: #e6a756;
    }
    .add-to-cart:hover{
        color: #d3841c;
    }
    .pic-1{
        padding-left: 0;
        margin: 30px 0 0 0;
    }
    .pic-2{
        padding-left: 120px;
        margin: 30px 0 0 0;
    }
    .pic-3{
        padding-left: 120px;
        margin: 30px 0 0 0;
    }
    .product-content-1{
        margin-bottom: 30px;
        text-align: center;
    }
    .product-content-2{
        margin-left: 180px;
        margin-bottom: 30px;
        text-align: center;
    }
    .product-content-3{
        margin-left: 100px;
        margin-bottom: 30px;
        text-align: center;
    }


</style>
<div class="container">
    <h3 class="h3"></h3>
    <div class="row">
        <div class="col-lg-3 col-lg-3">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-1" src="{% static 'img/guatemala.jpg' %}">
                </div>
                <div class="product-content-1">
                    <h3 class="title-1"><a href="#">과테말라</a></h3>
                    <div class="price">12,000원
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-3">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-2" src="{% static 'img/colombia.jpg' %}">
                </div>
                <div class="product-content-2">
                    <h3 class="title-2"><a href="#">콜롬비아</a></h3>
                    <div class="price">16,000원
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-lg-3">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-3" src="{% static 'img/ethiopia.jpg' %}">
                </div>
                <div class="product-content-3">
                    <h3 class="title-3"><a href="#">에티오피아</a></h3>
                    <div class="price">16,000원
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-lg-3">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-1" src="{% static 'img/guatemala.jpg' %}">
                </div>
                <div class="product-content-1">
                    <h3 class="title-1"><a href="#">과테말라</a></h3>
                    <div class="price">12,000원
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-3">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-2" src="{% static 'img/colombia.jpg' %}">
                </div>
                <div class="product-content-2">
                    <h3 class="title-2"><a href="#">콜롬비아</a></h3>
                    <div class="price">16,000원
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-lg-3">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-3" src="{% static 'img/ethiopia.jpg' %}">
                </div>
                <div class="product-content-3">
                    <h3 class="title-3"><a href="#">에티오피아</a></h3>
                    <div class="price">16,000원
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>

{% endblock %}