{% extends 'base.html' %}

{% load static %}

{% block contents %}
<style>
    .price{
        color: white;
    }
    h3{
        margin-top: 60px;
        color: #e6a756;
        text-align: center;
    }
    h3 > a{
        text-decoration: none;
        color:#e6a756;
    }
    h3 > a:hover{
        color: #d3841c;
    }
    .add-to-cart{
        text-decoration: none;
        color: #e6a756;
    }
    .add-to-cart:hover{
        color: #d3841c;
    }
    .pic-1{
        padding-left: 0;
        margin: 30px 30px 0 0;
        border:solid 4px green;
    }
    .pic-2{
        padding-left: 120px;
        margin: 30px 0 0 70px;
        border:solid 4px red;
    }
    .pic-3{
        padding-left: 120px;
        margin: 30px 0 0 100px;
        border:solid 4px red;
    }
    .product-content-1{
        margin-bottom: 30px;
        text-align: center;
        border:solid 4px green;
        
    }
    .product-content-2{
        margin-left: 180px;
        margin-bottom: 30px;
        text-align: center;
        border:solid 4px red;
    }
    .product-content-3{
        margin-left: 100px;
        margin-bottom: 30px;
        text-align: center;
        border:solid 4px red;
    }


</style>
<div class="container">
    <h3 class="h3"></h3>
    <div class="row">
        {% for coffee in page_obj %}
            {% if coffee.row_number == 1 %}
                <div class="col-lg-3 col-lg-3" style="border:solid 2px blue">
                    <div class="product-grid">
                    {% if coffee.image %}                    
                        <div class="product-image" width="300px" height="300px">
                                <img class="pic-1" src="{{ coffee.image.url }}" width="300px" height="300px">
                        </div>
                    {% endif %}
                        <div class="product-content-1">
                            <h3 class="title-1"><a href="{% url 'cfproduct:coffee_detail' coffee.id %}">{{ coffee.name }}</a></h3>
                            <div class="price">{{ coffee.price }}원</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-3" style="border:solid 2px blue">
                    <div class="product-grid">
                    {% elif coffee.row_number == 2 %}
                        {% if coffee.image %}                    
                            <div class="product-image">
                                    <img class="pic-2" src="{{ coffee.image.url }}" style="width: 500px;">
                            </div>
                        {% endif %}
                        <div class="product-content-2">
                            <h3 class="title-2"><a href="{% url 'cfproduct:coffee_detail' coffee.id %}">{{ coffee.name }}</a></h3>
                            <div class="price">{{ coffee.price }}원</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-3" style="border:solid 2px blue">
                    <div class="product-grid">
                    {% else %}
                        {% if coffee.image %}                    
                            <div class="product-image">
                                    <img class="pic-3" src="{{ coffee.image.url }}" width="300px" height="300px">
                            </div>
                        {% endif %}
                        <div class="product-content-3">
                            <h3 class="title-3"><a href="{% url 'cfproduct:coffee_detail' coffee.id %}">{{ coffee.name }}</a></h3>
                            <div class="price">{{ coffee.price }}원</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}    
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}